/*
* {
  margin: 6px;
  outline: 1px solid red !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
*/

body {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 20px;
  font-family: serif;
  width: auto;
  border: 1px solid white;
}

h1 {
  border: 1px solid white;
  font-family: Fredericka the Great, cursive;
  font-size: 60px;
  text-shadow: 0 0 50px lightblue;
}

h2 {
  font-family: Fredericka the Great, cursive;
  font-size: 25px;
}

h4 {
  font-family: Fredericka the Great, cursive;
  font-size: 40px;
  text-shadow: 0 0 50px lightblue;
}

img {
  width: 100%;
  border-radius: 60%;
}

a {
  color: inherit;
  text-decoration: none !important;
}

.whole-page {
  //none
}

.heading {
  margin-top: -30px;
}

.title {
  margin-bottom: -10px;
}

.sub-title {
  //none
}

.row {
  height: auto;
  display: -webkit-flex;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}

.item {
  width: 33.33%;
  margin-left: 10px;
  margin-right: 10px;
}

.footer {
  margin-top: 30px;
  height: auto;
}
