/*
* {
  margin: 6px;
  outline: 1px solid red !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

*/


/*
.app {
    display: -webkit-flex;
    display: flex;
}
*/





body {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 20px;
  font-family: serif;
  width: auto;
  border: 1px solid white;
}


h1 {
  border: 1px solid white;
  font-family: Fredericka the Great, cursive;
  font-size: 60px;
  text-shadow: 0 0 50px limegreen;
}


h2 {
  font-family: Fredericka the Great, cursive;
  font-size: 25px;
}


h4 {
  font-family: Fredericka the Great, cursive;
  font-size: 25px;
  text-shadow: 0 0 50px limegreen;
}

img {
  width: 100%;
  border-radius: 60%;
}



.whole-page {

}


.heading {
  margin-top: -30px;
}


.title {
  margin-bottom: -10px;
}


.sub-title {
  margin-bottom: 50px;
}


.top-square {
  height: auto;
  display: -webkit-flex;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}

.top-left {
  width: 33.33%;
}

.top-middle {
  width: 33.33%;
}

.top-right {
  width: 33.33%;
}


.middle-square {
  height: auto;
  display: -webkit-flex;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}

.middle-left {
  width: 33.33%;
}

.middle-middle {
  width: 33.33%;
}

.middle-right {
  width: 33.33%;
}



.bottom-square {
  height: auto;
  display: -webkit-flex;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}

.bottom-left {
  width: 33.33%;
}


.bottom-middle {
  width: 33.33%;
}


.bottom-right {
  width: 33.33%;
}




footer {
  height: 10%;
}
